.slider {
    width: 100%;
    /*height: 100vh;*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.slide {
    min-width: 100%;
    height: 80%;
    transition: 0.5s;
    overflow: hidden;
}

.goLeft, .goRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 50%;
}

.goLeft:hover,
.goRight:hover {
    background: rgba(0,0,0,0.5);
}

.goLeft {
    left: 0;
}

.goRight {
    right: 0;
}

.slider-img {
    width: 100%;
    height: auto;
}

.slider i {
    font-size: 2vw;
}

.slider i:hover {
    color: white;
}
