
.topSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topSideWrapper {
    max-width: 300px;
}

.products {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}


