.button {
  padding: 15px;
  border-radius: 20px;
  background-color: #27c;
  outline: none;
  cursor: pointer;
  color: #fff;
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid transparent;
}

.button > i {
  font-size: 24px;
  margin-right: 0.5rem;
}

.button:hover {
  color: #27c;
  background-color: #fff;
  border: 2px solid #27c;
}
