nav > button {
  /* padding-left: 32px; */
}

.sidebar  ul {
  list-style-type: none;
  padding: 0;
  display: none;
  animation: menu 0.4s;
}

.sidebar  ul.show {
  /* display: block; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar  ul li {
  margin-bottom: 0.5rem;
}

.sidebar  ul li a {
  padding: 0rem 0.5rem 0rem 0.5rem;
  display: block;
  text-decoration: none;
  font-size: 19px;
}

.sidebar  ul li a:hover,
.sidebar  ul li a.active {
   border-color: red;
   background-color: var(--color-active);
 }

.sidebar > button {
  background-color: transparent;
  border: none;
  color: gray;
  font-size: 30px;
}
@media screen and (max-width:580px) {
  .sidebar  ul.show {
    min-width: 90px;
  }
  .sidebar  ul li a {
    padding: 0;
    border-left: 0px solid transparent;
    font-size: 13px;
    text-align: left;
  }
}
@keyframes menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
