.products {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.content a {
    color: unset;
}
