.products {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    background: #f5f5f5;
}

.product {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0,  0.5);
    padding: 15px;
    border-radius: 5px;
    width: 245px;
    max-width: 260px;
    position: relative;
    margin: 0 15px 15px 15px;
    background: #fff;
    border: 2px solid #fff;
    cursor: pointer;

}

.productHeart {
    position: absolute;
    right: 0;
    top: 0;
    margin: 30px;
    font-size: 1.2rem;
    color: #bbbec2;
    opacity: 0;
}

.productHeart:hover {
    color: #2277cc;
}

.product:hover .productHeart {
    opacity: 1;
}


.productImage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.productText {
    width: 100%;
    padding: 10px 0;
    opacity: .5;
    font-size: .8rem;
    text-align: center;
}

.productPrice {
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding:0 10px 10px 10px;
    font-size: 1.1rem;
}
