.dropdown {
    position: relative;
    user-select: none;
}

.dropdownBtn, .dropdownItem {
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.dropdownBtn {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdownBtn:hover {
    color: #2277cc;
}

.dropdownContent {
    position: absolute;
    left: 0;
    top: 37px;
    background: #fff;
    z-index: 1;
    animation: menu 0.4s;
    box-shadow: 0 0 10px 3px #ccc;
    min-width: 280px;
}

.dropdownItem {
    display: flex;
    flex-direction: column;
    border-left: 4px solid transparent;
    text-align: right;
}

.dropdownItem a{
    text-decoration: none;
    color: #000;
}

.dropdownItem:hover {
    background: var(--color-active);
    border-color: red;
}

.dropdownItem:hover a{
    color: #fff;
}

i {
    font-size: 24px;
}


@keyframes menu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
