.bx-menu-alt-left:before, 
.bx-x:before, 
.bx-chevron-left:before,
.bx-chevron-right:before {
    font-size: 50px;
}
@media screen and (max-width:580px) {
    .bx-menu-alt-left:before, 
    .bx-x:before, 
    .bx-chevron-left:before,
    .bx-chevron-right:before {
        font-size: 21px !important;
    }
    i {
        font-size: 21px !important;
    }
}