:root {
  --color-active: #27c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  font-size: 16px;
  background: #fff; /* ես գույնից եմ գռադիենտ գնում մենյուից */
}

a {
  color: #8d9299;
}

a:hover {
  color: #fff;
}

.active {
  color: var(--color-active)
}

button {
  cursor: pointer;
}
