.container {
    border-bottom: 3px solid #2277cc;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

}

.container img {
    height: 50px;
}

.orders {
    max-width: 600px;
    margin: 0 auto;
}
